.tutor/__pycache__/
config/
logs/
media/

apl/__pycache__
chtoto/__pycache__
chtoto/gunicorn.conf.py
chtoto/settings_pass.py
chtoto/prod_settings.py
forum/__pycache__
newart/__pycache__
reglog/__pycache__
tutor/__pycache__
static/static