
config/
logs/
media/

apl/__pycache__
apl/migrations

chtoto/__pycache__
chtoto/gunicorn.conf.py
chtoto/settings_pass.py

forum/__pycache__
forum/migrations

newart/__pycache__
newart/migrations

reglog/__pycache__
reglog/migrations

tutor/__pycache__
tutor/migrations

static/static