<html lang="ru">
{% extends 'base.html' %}
{% block title %} editprofile {% endblock %}
{% block content %}

<div class="columns is-centered">
    <div class="column is-one-quarter">
        <div class="block">
            <div class="mt-6">  
                <p class="title is-4 has-text-success mx-2">изменить профиль</p>
            </div>
        </div>
        
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="block mx-2">
                <div class="file has-name is-fullwidth">
                    <label class="file-label">
                        <input class="file-input" type="file" name="resume" />
                        <span class="file-cta">
                        <span class="file-icon">
                            <i class="fas fa-upload"></i>
                        </span>
                        <span class="file-label">выберите изображение</span>
                        </span>
                        <span class="file-name"> {{ profform.ava }}</span>
                    </label>
                </div>
            </div>

            <div class="block mx-2">
                <div class="field mr-4">
                    <p class="control has-icons-left has-icons-right">
                        <input class="input" type="nickname" placeholder="nickname"{{ profform.nickname }}
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                                </span>
                                <span class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                        </span>
                    </p>
                </div>
            </div>
            <div class="block mx-2">
                <div class="field mr-4">
                    <p class="control has-icons-left has-icons-right">
                        <input class="input" type="name" placeholder="имя"{{ profform.first_name }}
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                                </span>
                                <span class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                        </span>
                    </p>
                </div>
            </div>

            <div class="block mx-2">
                <div class="field mr-4">
                    <p class="control has-icons-left has-icons-right">
                        <input class="input" type="lastname" placeholder="фамилия"{{ profform.last_name }}
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                                </span>
                                <span class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                        </span>
                    </p>
                </div>
            </div>

            <div class="block mx-2">
                <div class="field mr-4">
                    <p class="control has-icons-left has-icons-right">
                        <input class="input" type="date" placeholder="гггг-мм-дд"{{ profform.birsday}}
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                                </span>
                                <span class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                        </span>
                    </p>
                </div>
            </div>

            <div class="block mx-2">
                <div class="field">
                    <p class="control has-icons-left has-icons-right">
                        <input class="input" type="email" placeholder="Email"{{ profform.email }}
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                        <span class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                        </span>
                    </p>
                </div>
            </div>

            <div class="block mx-2">
                <div class="control">
                    <textarea
                        class="textarea is-hovered"
                        placeholder="о себе"{{ profform.about }}
                    </textarea>
                </div>
            </div>

            <div class="block mx-2">
                <button class="button has-background-success mx-2" type="submit" name="add" value="добавить">
                    <h class="has-text-dark"> сохранить</h>
                </button>
            </div>
        </form>
    </div>
</div>

{% endblock content %}