<!DOCTYPE html>
<html lang="ru">
{% extends 'base.html' %}
{% block title %} editprofile {% endblock %}

{% block content %}

<div class="columns " style="background-color: #2e2d2a">
    <div class="column .is-offset-x is-one-third">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="file has-name is-boxed">
                <label class="file-label">
                    {{ profform.ava }}
                    <span class="file-cta">
                        <span class="file-icon">
                        <i class="fas fa-upload"></i>
                        </span>
                        <span class="file-label"> Choose a file… </span>
                </label>
            </div>
            
            <div class="field mr-4">
                <p class="control has-icons-left has-icons-right">
                    <input class="input" type="login" placeholder="nickname"{{ profform.nickname }}
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                            </span>
                            <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                    </span>
                </p>
            </div>
            <div class="field mr-4">
                <p class="control has-icons-left has-icons-right">
                    <input class="input" type="login" placeholder="имя"{{ profform.first_name }}
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                            </span>
                            <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                    </span>
                </p>
            </div>
            <div class="field mr-4">
                <p class="control has-icons-left has-icons-right">
                    <input class="input" type="login" placeholder="фамилия"{{ profform.last_name }}
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                            </span>
                            <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                    </span>
                </p>
            </div>
            <div class="field mr-4">
                <p class="control has-icons-left has-icons-right">
                    <input class="input" type="date" placeholder="гггг-мм-дд"{{ profform.birsday}}
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                            </span>
                            <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <p class="control has-icons-left has-icons-right">
                    <input class="input" type="email" placeholder="Email"{{ profform.email }}
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                    <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                    </span>
                </p>
            </div>
            <div class="control">
                <textarea
                    class="textarea is-hovered"
                    placeholder="о себе"{{ profform.about }}
                ></textarea>
            </div>
    <button class="button" type="submit" style="color:#2e2d2a;background-color: #d16624">
        сохранить
    </button>   

        </form>
    </div>
</div>

{% endblock content %}