{% extends 'base.html' %}
{% block content %}

<h4>изменить профиль</h4>

<form method="post" >
    
    {% csrf_token %}
    <div style="display: flex; flex-direction: column; align-items: center;">
        
        <p>загрузить аватар</p> {{ profform.ava }}
        <p>введите ник</p> {{ profform.nickname }}
        <p>почтовый адрес </p>{{ profform.email }}
        <p>о себе </p> {{ profform.about }}
        <button type="submit">сохранить</button>
    </div>
</form>
{% endblock content %}
<style>
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 30px;
    }
    
    form input {
        width: 80%;
        margin-bottom: 20px;
        padding: 10px; 
        font-size: 30px; 
        height: 40px;
    }
    
    
    form button {
        width: 10%;
        padding: 15px;
        margin-top: 50px;
    }
    </style>
</style>