{% extends 'base.html' %}
{% block title %} log in {% endblock %}
{% block content %}


<div class="columns is-centered">
    <div class="column is-one-quarter">
        <div class="block">
            <div class="mt-6">  
                <p class="title is-4 has-text-success mx-2">вход</p>
            </div>
        </div>

        <form method="post">
            {% csrf_token %}
            <div class="block mx-2">
                <div class="field mr-4">
                    <p class="control has-icons-left has-icons-right">
                        <input class="input" type="login" placeholder="login"{{login.username}}
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                                </span>
                                <span class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                        </span>
                    </p>
                </div>
            </div>

            <div class="block mx-2">
                <div class="field mr-4">
                    <p class="control has-icons-left">
                        <input class="input" type="password" placeholder="Password"{{login.password}}
                            <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                            </span>
                    </p>
                </div>
            </div>

            <div class="block mx-2">
                <button class="button has-background-success mx-2" type="submit" name="add" value="добавить">
                    <h class="has-text-dark">Вход</h>
                </button>
            </div>
        </form>

        <div class="block mx-2 mt-6">
            <div class="is-size-6 "></div>
                <a href="{% url 'register' %}" class="btn">
                    <h class="has-text-success">нет аккаунта?</h>
                </a>
                    <h >/</h>
                <a href="{% url 'forgot_pass' %}" class="btn">
                    <h class="has-text-success">забыли пароль?</h>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock  %}