{% extends 'base.html' %}
{% block title %} myprofile {% endblock %}
{% block content %}


<div class="columns is-centered">
    <div class="column is-two-fifths">

    <div class="grid">
        <div class="cell mt-6">
            <div class="block">
                {% csrf_token %}
                    {% if user.myuser and user.myuser.ava %}
                        <figure class="image is-2by3 "
                            style="max-width:180px;max-height:200px;min-width:5vw;min-heigh:5vh;">
                                <img src="{{ user.myuser.ava.url }}" alt="avatar"
                                frameborder="0">
                        </figure>
                        {% else %}
                        <figure class="image is-2by3"
                            style="max-width:180px;max-height:200px;min-width:5vw;min-height:5vh">
                            <img src="https://bulma.io/assets/images/placeholders/256x256.png" />
                        </figure>
                    {% endif %}
                    <button class="button has-background-success mx-2 mt-4" type="submit" name="add" value="добавить">
                        <a class="has-text-dark" href="{% url 'editprofile'  %}">редактиовать</a>
                    </button>
            </div>

            <div class="block">
                <div class="title has-text-success is-size-4" >
                    опубликованные туторы
                </div>
                {% for tutor in user_tutors %}
                    <a href="{% url 'd_tutor' post_id=tutor.id %}" >{{ tutor.title }}</a>
                    <div class="is-size-7">
                        дата: {{tutor.date}} | просмотры: {{ tutor.views }} 
                    </div>
                {% empty %}
                    <h>не публиковал </h>
                {% endfor %}
            </div>

            <div class="block">
                <div class="title has-text-success is-size-4">
                    созданные топики
                </div>
                {% for topic in user_topics %}
                    <a href="{% url 'topic' post_id=topic.id %}">{{ topic.title }}</a>
                    <div class="p is-size-7">
                        дата: {{topic.date}} | просмотры: {{ topic.views }} 
                    </div>
                {% empty %}
                    <h>не публиковал </h>
                {% endfor %}
            </div>

        </div>
            <div class="cell mt-6 ">
                <div class="block is-size-5 ">
                    {% if user.myuser.first_name or user.myuser.last_name or user.myuser.nickname %}
                    {{ user.myuser.first_name }} {{ user.myuser.nickname }} {{ user.myuser.last_name }} <br>
                    
                    {% else %}
                    {% endif %}
                </div>

                <div class="block is-size-7">
                    {% if user.myuser.total_rating  %}
                    <p class="mx-2">рейтинг сообщества: </p><br> {{ user.myuser.total_rating }}
                    {% else %}
                        <p class="mx-2">рейтинг сообщества: </p><br> 0
                    {% endif %} 
                </div>

                <div class="block is-size-7">
                    {% if uuser.myuser.calculate_age  %}
                    <p class="mx-2">возраст: </p><br>{{ user.myuser.calculate_age }}
                    {% else %}
                    {% endif %} 
                </div>
                
                <div class="block is-size-7">
                    {% if user.myuser.email  %}
                    <p class="mx-2">почта: </p><br> {{ user.myuser.email }}
                    {% else %}
                    {% endif %} 
                </div>

                <div class="block is-size-6">
                    {% if user.myuser.about   %}
                    <p class="mx-2">о себе: </p><br> {{ user.myuser.about  }}
                    {% else %}
                    {% endif %} 
                </div>
            </div>
        </div>
    </div>
</div>

    
{% endblock  %}