{% extends 'base.html' %}
{% block content %}

<div style="width: 100%; text-align: center;">
  <a class="nav-link" style="display: inline-block; margin-top: 30px; color: #eee; font-size: 20px; margin-left: 800px;" href="{% url 'editprofile' %}">изменить</a>
  <a class="nav-link" style="display: inline-block; margin-top: 30px; color: #eee; font-size: 20px; margin-left: 20px;" href="{% url 'logout' %}">выход</a>
</div>
{% if user.myuser.ava %}

      <style> 
        .profile { display: flex; align-items: center; margin-top: 50px; margin-left: 50px; } 
        .profile img { width: 150px; margin-right: 20px; } 
        .profile a { font-size: 20px; } 
      </style> 
        <div class="profile"> 
          <img src="{{ user.myuser.ava.url }}" alt="avatar">
          <div> 
            <a>имя: {{ user.myuser.first_name }}</a><br> 
            <a>псевдоним: {{ user.myuser.nickname }}</a><br> 
            <a>фамилия: {{ user.myuser.last_name }}</a><br> 
            <a>возраст: {{ user.myuser.calculate_age }}</a><br>
            <a>почта: {{ user.myuser.email }}</a><br> 
            <a>о себе: {{ user.myuser.about }}</a> <br> 
          </div>
        </div>
{% endif %}


{% endblock content %}

