<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %}profile{% endblock %}

{% block content %}


    {% csrf_token %}
<div class="grid">
    <div class="cell is-col-min-12">
        <figure class="image is-2by3 mt-6 " 
            style="max-width:180px;max-height:200px;min-width:5vw;min-height:5vh">
                {% if user.myuser.ava %}
                    <div class="prof_ava"> 
                        <img src="{{ user.myuser.ava.url }}" alt="avatar" frameborder="0">
                    </div> 
                {% endif %}   
        </figure>

        <div class="title is-size-4 mt-4" style="color: #d16624;">
            опубликованные туторы
        </div>
            {% for tutor in user_tutors %}
                <a href="{% url 'd_tutor' post_id=tutor.id %}"  style="color: #d16624;">{{ tutor.title }}</a>
                <div class="p is-size-7">
                    дата: {{tutor.date}} | просмотры: {{ tutor.views }} 
                </div>
            {% empty %}
                <li>не публиковал </li>
            {% endfor %}

            <div class="title is-size-4 mt-4" style="color: #d16624;">
                созданные топики
            </div>
            {% for topic in user_topics %}
                <a href="{% url 'topic' post_id=topic.id %}"  style="color: #d16624;">{{ topic.title }}</a>
                <div class="p is-size-7">
                    дата: {{topic.date}} | просмотры: {{ topic.views }} 
                </div>
            {% empty %}
                <li>не публиковал </li>
            {% endfor %}
    </div>
    <div class="cell mt-6 is-col-min-12">
        <div class="p is-size-5 ">
            {{ user.myuser.first_name }} {{ user.myuser.last_name }} {{ user.myuser.nickname }} 
        </div>
            <div class="inform">
                <label class="p is-size-7" for="age">возраст: </label><br>
                    <div class="prof_inf">
                        {{ user.myuser.calculate_age }}<br>
                    </div> 
                <label class="p is-size-7" for="email">почта:</label><br> 
                    <div class="prof_inf">
                        {{ user.myuser.email }}<br>
                    </div>
                <label class="p is-size-7" for="about">о себе:</label><br> 
                    <div class="prof_inf mb-1">
                        {{ user.myuser.about }}<br>
                    </div>
            </div>
    </div>    
</div>

{% endblock %}