{% extends 'base.html' %}
{% block title %} regiter {% endblock %}
{% block content %}

<div class="columns is-centered">
    <div class="column is-one-quarter">
        <div class="block">
            <div class="mt-6">  
                <p class="title is-4 has-text-success mx-2">регистрация</p>
            </div>
        </div>

        <form method="post">
            {% csrf_token %}
            <div class="block mx-2">
                <div class="field mr-4">
                    <p class="control has-icons-left has-icons-right">
                        <input class="input" type="login" placeholder="Login"{{user_form.username}}
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                                </span>
                                <span class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                        </span>
                    </p>
                </div>
            </div>

            <div class="block mx-2">
                <div class="field mr-4">
                    <p class="control has-icons-left has-icons-right">
                        <input class="input" name ="email" type="email" placeholder="Email"{{user_form.email}}
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                                </span>
                                <span class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                        </span>
                    </p>
                </div>
            </div>

            <div class="block mx-2">
                <div class="field mr-4">
                    <p class="control has-icons-left">
                        <input class="input" type="password" placeholder="Password"{{user_form.password}}
                            <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                            </span>
                    </p>
                </div>
            </div>

            <div class="block mx-2">
                <div class="field mr-4">
                    <p class="control has-icons-left">
                        <input class="input " type="password" placeholder="Password"{{user_form.password}}
                            <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                            </span>
                    </p>
                </div>
            </div>

            <div class="block mx-2">
                <button class="button has-background-success mx-2" type="submit" name="add" value="добавить">
                    <h class="has-text-dark">Регистрация</h>
                </button>
            </div>
        </form>
    </div>
</div>

{% if error %}  
    <p class="error">{{ error }}</p>
{% endif %}

{% endblock content %}