{% extends 'base.html' %}
{% block title %}all user{% endblock %}
{% block content %}

<div class="columns is-centered">
    <div class="column is-two-fifths">
        <div class="block">
            <div class="mt-6">  
                <p class="title is-4 has-text-success mx-2">Профили</p>
            </div>
        </div>

        {% for user in users %}
            {% if user.myuser.ava %}
            <div class="block">
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            {% if user.ava and user.myuser.ava%}
                            <figure class="image  is-48x48" >
                                <img src="{{ user.ava.url }}" alt="avatar" >
                            </figure>
                            {% else %}
                                <figure class="image is-48x48 ">
                                    <img src="https://bulma.io/assets/images/placeholders/256x256.png" />
                                </figure>
                            {% endif %}
                        </div>
                    <div class="media-content">
                        <p class="title is-4">
                            <a href="{% url 'profile' user.myuser.id %}">
                                {{ user.myuser.first_name }} {{ user.myuser.last_name }} {{ user.myuser.nickname }} 
                            </a>
                        </p>
                        <p class="subtitle is-6">почта:{{ user.myuser.email }}</p>
                        <p class="subtitle is-6">рейтинг:{{ user.myuser.total_rating }}</p>
                </div>
            </div>
        
        {% endif %}
        </div>
</div>

{% endfor %}

{% endblock %}