<!doctype html>
{% load static %}
<html>

<body>

<div class="container">
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" href="/home">главная</a></li>
            <li class="nav-item">
                <a class="nav-link" href="/post1">post 1</a></li>
            <li class="nav-item">
                <a class="nav-link" href="/post2">post 2</a></li>
            <li class="nav-item">
                <a class="nav-link" href="/aaa">кнопка для появления надписи</a></li>
        </ul>
    </header>
</div>


{% block content %}
{% endblock %}
</body>