{% extends 'base.html' %}
{% block title %} add tutor {% endblock %}
{% block content %}

<div class="columns is-centered">
    <div class="column is-two-fifths ml-2 mr-2">
        <form method="post">
        {% csrf_token %}

            <div class="mt-6">
                <h class="title is-4 has-text-success">Добавить тутор</h>
            </div>
    
            <div class="block mt-6 ">
                <input class="input " type="text" placeholder="Напишите вопрос" {{ form.title }}
            </div>
    
            <div class="block">
                <textarea class="textarea has-fixed-size" type="text" rows="3" placeholder="Подробно опишите проблему " {{ form.public_text}}
            </div>
        
            <button class="button has-background-success mr-6" type="submit" name="add" value="добавить">
                <h class="has-text-dark">Добавить топик</h>
            </button>
        </form>

        <p class="text is-6 mt-6" >
            тутор будет добавлен после проверки
        </p>
    </div>
</div>
{% endblock%}