
{% extends 'base.html' %}

{% block content %}
<html>
<head>    {% comment %} {% endfor %} {% endcomment %}

    {% comment %} <img src="{{ tut.image.url }}" alt="image"> {% endcomment %}
        <h2>{{ tut.title }}</h2>
        <h2>{{ tut.author }}</h2> <p>{{ tut.date }}</p> <p>{{ tut.views }}</p>
        <p> {{ tut.text  }}</p>
          <form method="post">
        {% csrf_token %}
        {{ addform.as_p }}
        <button type="submit">Submit</button>
    </form>   
    {% for comment in comments.all %}
        <p>{{ comment.author }}: {{ comment.text }}</p>
    {% endfor %}
</body>
</html>
{% endblock content %}
