{% extends 'base.html' %}
{% block title %} tutor {% endblock %}
{% block content %}

<div class="columns is-centered">
  <div class="column is-two-fifths">
    <div class="content is-medium">
      <div class="block">
        <div class="mt-6">  
            <p class="title is-4 has-text-success mx-2">{{ post.title }}</p>
        </div>
      </div>

      <div class="block">
        {% if post.text == "" %}
          <li class="p is-4 mx-2 ">
            <h class="has-text-success">тутор на редакции</h>
          </li>
        {% else %}
          <div class="is-size-6 mx-2">
            {{ post.text|safe }} 
          </div>
        {% endif %}
      </div>

      <div class="block">      
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
            <article class="media mt-4 ">
              <div>
                  <div class="control">
                    <textarea class="textarea has-fixed-size mx-2" placeholder="оставьте коментарий"
                    rows="3" name="text" id="id_text" required {{ form.text }}
                  </div>
              </div>
            </article>
            <div>
                <button class="button has-background-success mx-2" type="submit" name="add" value="добавить">
                  <h class="has-text-dark">добавить</h>
                  
                </button>
            </div>
        </form>
      </div>
      
      <nav class="pagination is-small" role="navigation" aria-label="pagination">
        <ul class="pagination-list">
            {% if page_obj.has_previous %}
                <li class="pagination-previous">
                    <a href="{% url 'd_tutor' post_id=post_id %}?page={{ page_obj.previous_page_number }}" rel="prev">
                        <span class="has-text-success">назад</span>
                    </a>
                </li>
            {% else %}
                <li class="pagination-previous is-disabled">
                    <a href="#" rel="nofollow">
                        <span class="has-text-success">назад</span>
                    </a>
                </li>
            {% endif %}
            {% for page in page_obj.paginator.page_range %}
                {% if page == page_obj.number %}
                    <li class="pagination-link is-current">
                        <span>{{ page }}</span>
                    </li>
                {% else %}
                    <li class="pagination-link">
                        <a href="{% url 'd_tutor' post_id=post_id %}?page={{ page }}" rel="nofollow">
                            <span class="has-text-success">{{ page }}</span>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="pagination-next">
                    <a href="{% url 'd_tutor' post_id=post_id %}?page={{ page_obj.next_page_number }}" rel="next">
                        <span class="has-text-success">вперед</span>
                    </a>
                </li>
            {% else %}
                <li class="pagination-next is-disabled">
                    <a href="#" rel="nofollow">
                        <span class="has-text-success">вперед</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
    


      {% for comment in comment_list %}
      {% if comment.post == post %}
      <div class="block">      
        <div class="card mr-3">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                {% if comment.author.myuser.ava%}
                <figure class="image is-48x48">
                  <img src="{{ comment.author.myuser.ava.url }}" alt="avatar"/>
                </figure>
                {% else %}
                <figure class="image is-48x48">
                  <img src="https://bulma.io/assets/images/placeholders/256x256.png" />
                </figure>
                {% endif %}

              </div>
              <div class="media-content">
                <h class="title is-5">{{ comment.author.username }}</h>

                  {% if comment.author == request.user %}
                    <a href="{% url 'edit_comment' post_id=post.id comment_id=comment.id %}">
                      <i class="fa-solid has-text-success fa-italic ml-6 mx-2"></i>
                    <a href="{% url 'delete_comment' post_id=post.id comment_id=comment.id %}" 
                      onclick="if (confirm('Удалить?')) {return true;} return false;">
                      <i class="fa-solid has-text-success fa-xmark"></i>
                    </a>
                  {% endif %}

                <div class="content is-small">
                  {{ comment.pub_date }}
                </div>
              </div>
            </div>
            <div class="content">
              {{ comment.text }}<br>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
  </div>
</div>
{% endblock content %}
