{% extends 'base.html' %}
{% block title %} about {% endblock %}
{% block content %}

<div class="columns is-centered">
    <div class="column is-two-fifths ml-2 mr-2">
        <div class="mt-6 mb-4">
            <p class="title  is-4 has-text-success ">about project</p>
        </div>
        <div class="is-size-5 ">
            <p>пока нечего писать</p>
            <p>чтобы не забыть</p>
            <p>buksite.space/newart/api/news/</p>
            <p>buksite.space/api/command</p>
        </div>
    </div>
</div>

{% endblock content %}