{% extends 'base.html' %}
{% block title %} add command {% endblock %}
{% block content %}
  
<div class="columns is-centered">
  <div class="column is-two-fifths ml-2 mr-2">
    <form method="post">
    {% csrf_token %}

      <div class="mt-6">
        <h class="title is-4 has-text-success">Добавить команду</h>
      </div>

      <div class="block mt-6 ">
        <input class="input " type="text" placeholder="Введите команду" {{ add_form.title }}
      </div>

      <div class="block">
        <textarea class="textarea has-fixed-size" type="text" rows="3" placeholder="Описание команды" {{ add_form.content }}
      </div>

      <div class="block">
        <div class=" select is-multiple mr-6 mb-4">
          {{ add_form.categories }}
        </div>
          <button class="button has-background-success mr-6" type="submit" name="add" value="добавить">
            <h class="has-text-dark">Добавить</h>
          </button>
      </div>
    </form>
  </div>
</div>
{% endblock content %}