{% extends 'base.html' %}
{% block title %} home {% endblock %}
{% block content %}

<div class="columns is-centered">
    <div class="column is-half ml-2 mr-2">
        <div class="mt-6 mb-4">
            <h class="title is-3 has-text-success">all is easy breezy...</h>
            <h class="subtitle is-5 has-text-success">sometimes...</h>
        </div>
        {% if image.get_image_url%}
            <figure class="image is-16by9" >        
                <image src="{{ image.get_image_url }}">
            </figure>
        {% else %}
            <figure class="image  is-16by9">
                <img src="https://bulma.io/assets/images/placeholders/256x256.png" />
            </figure>
        {% endif %}
    </div>
</div>

{% endblock %}