<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %} show command {% endblock %}

{% block content %}

    <div class="filter is-flexbox mt-6">
        
        <form method="GET" action="">
            <button class="button is-hovered mx-2 mt-2"style="color:#2e2d2a;background-color: #d16624" >
                <a href={% url "show" %} style="color:#2e2d2a;" >сброс</a>
            </button>
            {% for category in teg1 %}
                <button class="button is-hovered mx-2 mt-2" type="submit" name="category" style="color:#2e2d2a;background-color: #d16624" 
                    value="{{ category.id }}">
                        {{ category.name }}
                </button>
            {% endfor %}</form>

        <div class="command is-flexbox mt-6">    
            {% for inf in teg %}        
                <button  class="button is-hovered mx-2" style="color:#2e2d2a;background-color: #d16624"
                    onclick="copy('{{ inf.title }}')">{{ inf.title }}
                </button>
                    <div class="disc is-flexbox mb-2 ml-5 mr-1">
                        {{ inf.content }}
                    </div>
            {% endfor %}
        </div>

    </div>

<script>
    function copy(text) {
        var input = document.createElement('input');
        input.value = text;
        document.body.appendChild(input);
        input.select();
        document.execCommand('copy');
        document.body.removeChild(input);
        {% comment %} alert('Copied to clipboard: ' + text); {% endcomment %}
    }
</script>
{% endblock%}