<!DOCTYPE html>
<html lang="ru">
{% extends 'base.html' %}
{% block title %} news {% endblock %}

{% block content %}

     <div class="content is-medium">
          <h1 class="title is-3 mt-5" style="color:#d16624;">{{ newss.title }}</h1>
          <div class="p is-size-7 mt-4">
               Опубликован: {{ newss.date }} | Просмотры: {{ newss.views }} <br>

               категирии: 
               {% for cat in newss.category.all %}
                    {{ cat.name }}. 
               {% endfor %}

          </div> 

          <figure class="image mt-4 " >
               <iframe
                    class="has-ratio"
                    src="{{ newss.image.url }}"
                    frameborder="0"
                    style="width:50vw;height:40vh">
               </iframe>
          </figure>    
          <div class="is-size-5 mt-4 mr-6">
               {{ newss.text|safe }}
          </div>
     </div>   
               
{% endblock content %}