<html lang="ru">
{% extends 'base.html' %}
{% block title %} news {% endblock %}
{% block content %}

<div class="columns is-centered">
     <div class="column is-two-fifths">
          <div class="content is-medium">
               <div class="block">
                    <div class="mt-6">  
                         <p class="title is-4 has-text-success mx-2">{{ newss.title }}</p>
                    </div>
               </div>
               <div class="block">
                    <div class="is-size-7 mt-3 mx-2">
                         <p>
                         опубликован: {{ newss.date }}<br>
                         категории:  {% for cat in newss.category.all %}
                                        {{ cat.name }}. 
                                        {% endfor %}<br>
                         просмотры: {{ newss.views }} 
                         </p>
                    </div> 
               </div>
               <div class="block">
                    <div class="card-image">
                         {% if newss.image %}
                         <figure class="image is-4by3 mx-2">
                              <img src="{{ newss.image.url }}" alt="Placeholder image"/>
                         </figure>
                         {% else %}
                         <figure class="image is-4by3 mx-2">
                              <img src="https://bulma.io/assets/images/placeholders/256x256.png" />
                         </figure>
                         {% endif %}

                    </div>
               </div>
               <div class="block">     
                    <div class="is-size-5 mx-2">
                         {{ newss.text|safe }}
                    </div>
               </div>
          </div>
     </div>  
</div>  
               
{% endblock content %}