<html lang="ru">
{% extends 'base.html' %}
{% block title %}all news{% endblock %}
{% block content %}

<div class="columns is-centered">
    <div class="column is-two-fifths">
        <div class="block">
            <div class="filter is-flexbox mt-6">
                <form method="GET" action="">
                    <button class="button button is-hovered has-background-success mx-2 mt-2" type="submit" href="/shownews" >
                        <p class="has-text-dark">сброс</p>
                    </button>
                    {% for category in newsc %}
                        <button class="button is-hovered has-background-success mx-2 mt-2" type="submit" name="category" value="{{ category.id }}">
                            <p class="has-text-dark">{{ category.name }}</p>
                        </button>
                    {% endfor %} 
                </form>
            </div>
        </div>

        {% for el in news %}
            <div class="box mt-4 mr-4">
                <article class="media">
                    <div class="media-left">
                        {% if el.image.url%}
                        <figure class="image is-64x64">
                            <img src="{{ el.image.url }}" alt="Image" />
                        </figure>
                        {% else %}
                        <figure class="image is-64x64">
                            <img src="https://bulma.io/assets/images/placeholders/256x256.png" />
                        </figure>
                        {% endif %}
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>{{ el.title }} </strong> <br/>
                                {{ el.subtitle }} <br>
                                <div class="content is-small">{{ el.date}}</div>
                                
                                <a href="{% url 'd_news' el.id %}" class="btn">
                                    <p class="has-text-success">читать полностью..</p>
                                </a>
                            </p>
                        </div>
                    </div>
                </article>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}