<html lang="ru">
{% extends 'base.html' %}
{% block title %}all news{% endblock %}
{% block content %}

<div class="columns is-centered">
    <div class="column is-two-fifths">
        <div class="block">
            <div class="filter is-flexbox mt-6">
                <form method="GET" action="">
                    <button class="button button is-hovered has-background-success mx-2 mt-2" type="submit" href="/shownews" >
                        <p class="has-text-dark">сброс</p>
                    </button>
                    {% for category in newsc %}
                        <button class="button is-hovered has-background-success mx-2 mt-2" type="submit" name="category" value="{{ category.id }}">
                            <p class="has-text-dark">{{ category.name }}</p>
                        </button>
                    {% endfor %} 
                </form>
            </div>
        </div>

        <nav class="pagination is-small" role="navigation" aria-label="pagination">
            <ul class="pagination-list">
                {% if page_obj.has_previous %}
                    <li class="pagination-previous">
                        <a href="{% url 'shownews' %}?page={{ page_obj.previous_page_number }}" rel="prev">
                            <span class="has-text-success">назад</span>
                        </a>
                    </li>
                {% else %}
                    <li class="pagination-previous is-disabled">
                        <a href="#" rel="nofollow">
                            <span class="has-text-success">назад</span>
                        </a>
                    </li>
                {% endif %}
                {% for page in page_obj.paginator.page_range %}
                    {% if page == page_obj.number %}
                        <li class="pagination-link is-current">
                            <span>{{ page }}</span>
                        </li>
                    {% else %}
                        <li class="pagination-link">
                            <a href="{% url 'shownews' %}?page={{ page }}" rel="nofollow">
                                <span class="has-text-success">{{ page }}</span>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="pagination-next">
                        <a href="{% url 'shownews' %}?page={{ page_obj.next_page_number }}" rel="next">
                            <span class="has-text-success">вперед</span>
                        </a>
                    </li>
                {% else %}
                    <li class="pagination-next is-disabled">
                        <a href="#" rel="nofollow">
                            <span class="has-text-success">вперед</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>



        {% for el in news %}
            <div class="box mt-4 mr-4">
                <article class="media">
                    <div class="media-left">
                        {% if el.image %}
                        <figure class="image is-64x64">
                            <img src="{{ el.image.url }}" alt="Image" />
                        </figure>
                        {% else %}
                        <figure class="image is-64x64">
                            <img src="https://bulma.io/assets/images/placeholders/256x256.png" />
                        </figure>
                        {% endif %}
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>{{ el.title }} </strong> <br/>
                                {{ el.subtitle }} <br>
                                <div class="content is-small">{{ el.date}}</div>
                                
                                <a href="{% url 'd_news' el.id %}" class="btn">
                                    <p class="has-text-success">читать полностью..</p>
                                </a>
                            </p>
                        </div>
                    </div>
                </article>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}