<!DOCTYPE html>
<html lang="ru">

<head>
    <title>{% block title %} {% endblock %}</title>
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body >
    <section class="hero " style="background-color: #d16624">
        <div class="hero-body">
            <a class="title" style="color:#2e2d2a;" href="{% url 'home' %}">BU_site</a>
        </div>
    </section>
    
    <nav class="navbar  " style="background-color: #d16624" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <div class="navbar-start">
                <div class="navbar-item">
                    <a class="navbar-item ml-6" style="color:#2e2d2a;" href={% url "home" %}>
                        <strong>home</strong>
                    </a>

                    {% if user.is_authenticated %} 
                        <a class="navbar-item ml-6" style="color:#2e2d2a;" href="{% url 'myprofile' %}">
                            <strong>{{ user.username }}</strong> 
                        </a> 
                    {% else %} 
                        <a id="id" class="navbar-item ml-6"style="color:#2e2d2a;" href="{% url 'login' %}">
                            <strong>log in</strong>
                        </a>
                    {% endif %}

                    <div class="dropdown has-dropdown is-hoverable ml-6 "style="background-color: #d16624">
                            <div class="dropdown-trigger">
                                <button class="button" style="color:#2e2d2a;background-color: #d16624" aria-haspopup="true" aria-controls="dropdown-menu">
                                    <span>
                                        <span aria-hidden="true">-</span>
                                        <span aria-hidden="true">-</span>
                                        <span aria-hidden="true">-</span>
                                    </span>
                                        <span class="icon is-small">
                                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                                        </span>
                                </button>
                            </div>
                                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                    <div class="dropdown-content">
                                        <hr class="dropdown-divider" />
                                        <a href={% url "show" %} class="dropdown-item">command</a>
                                        <hr class="dropdown-divider" />
                                        <a href="{% url "shownews" %}" class="dropdown-item"> news</a>
                                        <hr class="dropdown-divider" />
                                        <a href="{% url "showtutor" %}" class="dropdown-item">tutor </a>
                                        <hr class="dropdown-divider" />
                                        <a href="{% url "all_topics" %}" class="dropdown-item">forum </a>
                                        <hr class="dropdown-divider" />
                                        <a href="{% url "about" %}" class="dropdown-item">about</a>
                                    </div>
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="columns is-mobile " style="background-color: #2e2d2a;min-height:100vh">
        <div class="column is-one-fifth " >
            
            {% block leftbar %} {% endblock %}
        </div>
        <div class="column  is-two-thirds">
            {% block content %} {% endblock %}
        </div>
        
    </div>

</body>
</html>
