
{% extends 'base.html' %}
{% block sidebar %}

<body>
    <h1>правка</h1>
    <form method="post">
        {% csrf_token %}
        <label for="title">команда:</label><br>
        <input type="text" id="title" name="title" value="{{ post.title }}"><br><br>
        <label for="content">описание команды</label><br>
        <input type="content" id="content" name='content' value='{{ post.content }}'><br><br>
        <label for="category">язык//система</label><br>
        <select id="category" name="category">
            {% for category in categories %}
                <option value="{{ category.id }}" {% if category.id == post.category.id %}selected{% endif %}>{{ category.name }}</option>
            {% endfor %}
        </select><br><br>
        <button type="submit">сохранить</button>
    </form>
</body>

 {% endblock  %} 
 {% block content %}
 <h3> если код поместить в блок контент поля инпут не отображаются, если в сайдбар не отображажается поле ввода описания , если код поместить с левой ссылкой на голую страницу то все хорошо работает)))</h3>
 <h4>возможно изза этого запись в бд редактируется но на нужную страницу не переходит там все поля обязательны к заполнению</h4>
 {% endblock  %} 