{% extends 'base.html' %}
{% block title %} add  {% endblock %}
{% block content %}

<div class="columns is-centered">
    <div class="column is-two-fifths ml-2 mr-2">
      <form method="post">
      {% csrf_token %}
  
        <div class="mt-6">
          <h class="title is-4 has-text-success">Добавить топик</h>
        </div>
  
        <div class="block mt-6 ">
          <input class="input " type="text" placeholder="Напишите вопрос" {{ top_form.title }}
        </div>
  
        <div class="block">
          <textarea class="textarea has-fixed-size" type="text" rows="3" placeholder="Подробно опишите проблему " {{ top_form.text }}
        </div>
  
        <div class="block">
          <div class=" select is-multiple mr-6 mb-4">
            {{ top_form.cat_topic}}
          </div>
            <button class="button has-background-success mr-6" type="submit" name="add" value="добавить">
              <h class="has-text-dark">Добавить топик</h>
            </button>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}