<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %} forum {% endblock %}

{% block content %}

<div class="filter is-flexbox mt-6">
  <form method="GET" action="">

    <button class="button mb-4" style="background-color: #d16624"  type="submit">
        <a href="add_topic" style="color:#2e2d2a;">спросить на форуме</a>
    </button>
      <div class="field has-addons">
        <div class="control">
          <input class="input" type="text" name="search" placeholder="поиск по темам">
        </div>
        <div class="control">
          <button class="button " type="submit" style="background-color: #d16624;color:#2e2d2a;">
            поиск
          </button>
        </div>
      </div> 
  </form>  
</div>

  <div>
    <form method="GET" action="">
      <button class="button  mb-4 mb-4 mt-4" style="background-color: #d16624" >
        <a href={% url 'all_topics' %} style="color:#2e2d2a;">сбросить</a>
      </button>
  
      {% for category in all_top_category %}
        <button class="button is-hovered mx-3 mt-4" type="submit" name="category"
        style="color:#2e2d2a;background-color: #d16624" value="{{ category.id }}">
          {{ category.name }}
        </button>
      {% endfor %}
    </form>

{% for topic in all_topic %}
<div class="card">
    <a class="card-header-title" style="color:#d16624;" href="{% url 'topic' topic.id %}">{{ topic.title }}</a>
    
    <div class="card-content">
      <div class="content">
        {{ topic.text|truncatechars:100 }}<br/>
      </div>
    </div>

  <footer class="card-footer">
    <p class="card-footer-item is-2">автор: {{ topic.author }}</p>
    <p class="card-footer-item">дата: {{ topic.date }}</p>
    <p class="card-footer-item">просмотры: {{ topic.views }}</p>
    <p class="card-footer-item">ответы: {{ topic.num_answers }}</p>
  </footer>
</div>
{% endfor %}

{% endblock %}