<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %} topic {% endblock %}
{% block content %}

<div class="content is-medium">
  <h1 class="title is-3 mt-5" style="color:#d16624;">{{top_question.title  }}</h1>
  <div class="p is-size-7 mt-3">
    <p>
      опубликован: {{ top_question.date }} | 
      категории:  {% for category in cat_topics %}
                    {{ category.name }} <br>
                  {% endfor %}
      просмотры: {{ top_question.views }} |
      ответы: {{ num_answers }}
    </p>
    
  </div> 
</div> 

<div class="is-size-6 mt-4 mr-6">
  {{ top_question.text }}
</div>

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
    <article class="media mt-4 ">
      <figure class="media-left">
        <p class="image is-64x64">
          <img src="{{ user.myuser.ava.url }}" />
        </p>
      </figure>
            <div>
                <div class="control">
                  <textarea class="textarea has-fixed-size " placeholder="оставьте коментарий"
                  rows="5" name="text" id="id_text" required {{ ans_form.text }}
                </div>
            </div>
    </article>
    <div>
        <button class="button mr-3 mb-4" type="submit" name="add" value="добавить"
        style="color:#2e2d2a;background-color: #d16624">
            добавить
        </button>
    </div>
</form>

<div class="columns " style="background-color: #2e2d2a">
  <div class="column is-three-fifths">
  {% for answer in answers %}

  <div class="card mr-3 ">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img 
              src="{{ answer.author.myuser.ava.url }}"
              alt="Placeholder image"/>
          </figure>
        </div>
          <div class="media-content">
            <p class="title is-5">{{ answer.author.username }}</p>
            <div class="content is-small">
              {{ answer.pub_date }}
            </div>
          </div>
      </div>
        <div class="content ">
          {{ answer.text }}<br>
        </div>
    </div>
  </div>

  {% endfor %}
  </div>
</div>
{% endblock %}