{% extends 'base.html' %}
{% block title %} topic {% endblock %}
{% block content %}

<div class="columns is-centered">
  <div class="column is-two-fifths">
    <div class="content is-medium">
      
      <div class="block">
        <div class="mt-6">  
          <p class="title is-4 has-text-success mx-2">{{ top_question.title }}</p>
        </div>
      </div>
      
      <div class="block">
        <div class="is-size-7 mt-3 mx-2">
          <p>
            опубликован: {{ top_question.date }}<br>
            категории:  {% for category in cat_topics %}
                          {{ category.name }}
                        {% endfor %}<br>
            просмотры: {{ top_question.views }}
            ответы: {{ num_answers }}
          </p>
        </div> 
      </div> 
      
      <div class="block">
        <div class="is-size-6 mx-2">
          {{ top_question.text }}
        </div>
      </div>      </div> 


      <div class="block">
        <form method="post" name="answer_form" enctype="multipart/form-data">
          {% csrf_token %}
            <article class="media mt-4 ">
              <div>
                <div class="control">
                  <textarea class="textarea has-fixed-size mx-2" placeholder="оставьте коментарий"
                  rows="3" name="text" id="id_text" required {{ ans_form.text }}
                </div>
              </div>
            </article>
            <div>
                <button class="button has-background-success mx-2" type="submit" name="add" value="добавить">
                    <h class="has-text-dark">Добавить коммент</h>
                </button>
            </div>
        </form>
      </div>

      <nav class="pagination is-small" role="navigation" aria-label="pagination">
        <ul class="pagination-list">
            {% if page_obj.has_previous %}
                <li class="pagination-previous">
                    <a href="{% url 'topic' post_id=post_id %}?page={{ page_obj.previous_page_number }}" rel="prev">
                        <span class="has-text-success">назад</span>
                    </a>
                </li>
            {% else %}
                <li class="pagination-previous is-disabled">
                    <a href="#" rel="nofollow">
                        <span class="has-text-success">назад</span>
                    </a>
                </li>
            {% endif %}
            {% for page in page_obj.paginator.page_range %}
                {% if page == page_obj.number %}
                    <li class="pagination-link is-current">
                        <span>{{ page }}</span>
                    </li>
                {% else %}
                    <li class="pagination-link">
                        <a href="{% url 'topic' post_id=post_id %}?page={{ page }}" rel="nofollow">
                            <span class="has-text-success">{{ page }}</span>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="pagination-next">
                    <a href="{% url 'topic' post_id=post_id %}?page={{ page_obj.next_page_number }}" rel="next">
                        <span class="has-text-success">вперед</span>
                    </a>
                </li>
            {% else %}
                <li class="pagination-next is-disabled">
                    <a href="#" rel="nofollow">
                        <span class="has-text-success">вперед</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>




      <div class="block">
        {% for answer in answers %}
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                {% if answer.author.myuser.ava %}
                  <figure class="image is-48x48">
                    <img class="is-rounded" src="{{ answer.author.myuser.ava.url }}" alt="avatar"/>
                  </figure>
                {% else %}
                  <figure class="image is-48x48"
                      <img src="https://bulma.io/assets/images/placeholders/256x256.png" />
                  </figure>
                {% endif %}
              </div>
              
              <div class="media-content">
                <p class="title is-4">{{ answer.author.username }}</p>
                    {% if answer.author == request.user %}
                      <a href="{% url 'edit_answer' post_id=top_question.id answer_id=answer.id %}">
                        <i class="fa-solid has-text-success fa-italic ml-6 mx-2"></i>
                      <a href="{% url 'delete_answer' post_id=top_question.id answer_id=answer.id %}" 
                        onclick="if (confirm('Удалить?')) {return true;} return false;">
                        <i class="fa-solid has-text-success fa-xmark"></i>
                      </a>
                    {% endif %}
              </div>
              <form method="post"  action="{% url 'topic' post_id=top_question.pk %}">
                {% csrf_token %}
                <input type="hidden" name="answer_id" value="{{ answer.id }}">
                <button type="submit" name="upvote" value="true">
                  <h class="has-text-success">+</h>
                </button>
              </form>
      
                <span class="rating mx-4">{{ answer.rating }}</span>
      
              <form method="post" action="{% url 'topic' post_id=top_question.pk %}">
                {% csrf_token %}
                <input type="hidden" name="answer_id" value="{{ answer.id }}">
                <button type="submit" name="downvote" value="true">
                  <h class="has-text-success">-</h>
                </button>
              </form>
            </div>
            <div class="content">
              {{ answer.text }}<br/>
              <div class="content is-small">
              <time datetime="">{{ answer.pub_date }}</time>
            </div>
          </div>
        </div>
      </div>

{% endfor %}

{% endblock %}