{% extends 'base.html' %}
{% block title %} topic {% endblock %}
{% block content %}

<div class="columns is-centered">
  <div class="column is-two-fifths">
    <div class="content is-medium">
      
      <div class="block">
        <div class="mt-6">  
          <p class="title is-4 has-text-success mx-2">{{ top_question.title }}</p>
        </div>
      </div>
      
      <div class="block">
        <div class="is-size-7 mt-3 mx-2">
          <p>
            опубликован: {{ top_question.date }}<br>
            категории:  {% for category in cat_topics %}
                          {{ category.name }}
                        {% endfor %}<br>
            просмотры: {{ top_question.views }}
            ответы: {{ num_answers }}
          </p>
        </div> 
      </div> 
      
      <div class="block">
        <div class="is-size-6 mx-2">
          {{ top_question.text }}
        </div>
      </div>      </div> 


      <div class="block">
        <form method="post" name="answer_form" enctype="multipart/form-data">
          {% csrf_token %}
            <article class="media mt-4 ">
              <div>
                <div class="control">
                  <textarea class="textarea has-fixed-size mx-2" placeholder="оставьте коментарий"
                  rows="3" name="text" id="id_text" required {{ ans_form.text }}
                </div>
              </div>
            </article>
            <div>
                <button class="button has-background-success mx-2" type="submit" name="add" value="добавить">
                    <h class="has-text-dark">Добавить коммент</h>
                </button>
            </div>
        </form>
      </div>

      <div class="block">
        {% for answer in answers %}
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                {% if answer.author.myuser.ava %}
                  <figure class="image is-48x48">
                    <img class="is-rounded" src="{{ answer.author.myuser.ava.url }}" alt="avatar"/>
                  </figure>
                {% else %}
                  <figure class="image is-48x48"
                      <img src="https://bulma.io/assets/images/placeholders/256x256.png" />
                  </figure>
                {% endif %}
              </div>
              
              <div class="media-content">
                <p class="title is-4">{{ answer.author.username }}</p>
                {{ user.myuser.total_rating}}
              </div>
              <form method="post"  action="{% url 'topic' post_id=top_question.pk %}">
                {% csrf_token %}
                <input type="hidden" name="answer_id" value="{{ answer.id }}">
                <button type="submit" name="upvote" value="true">
                  <h class="has-text-success">+</h>
                </button>
              </form>
      
                <span class="rating mx-4">{{ answer.rating }}</span>
      
              <form method="post" action="{% url 'topic' post_id=top_question.pk %}">
                {% csrf_token %}
                <input type="hidden" name="answer_id" value="{{ answer.id }}">
                <button type="submit" name="downvote" value="true">
                  <h class="has-text-success">-</h>
                </button>
              </form>
            </div>
            <div class="content">
              {{ answer.text }}<br/>
              <div class="content is-small">
              <time datetime="">{{ answer.pub_date }}</time>
            </div>
          </div>
        </div>
      </div>

{% endfor %}

{% endblock %}